@page
@model BldLeague.Web.Pages.Error.NotFound

<h2>Nie znaleziono strony (404)</h2>

<p>Przepraszamy, strona, której szukasz, nie istnieje.</p>

<a asp-page="/Index" class="btn btn-primary">Powrót na stronę główną</a>