@page
@model BldLeague.Web.Pages.Error.ServerError

<h2>Błąd serwera (500)</h2>

<p>Przepraszamy, wystąpił nieoczekiwany błąd po stronie serwera.</p>

<a asp-page="/Index" class="btn btn-primary">Powrót na stronę główną</a>